<div class="contact-page">
  <div class="hero">
    <div class="container">
      <h1>Contactez-nous</h1>
      <p class="subtitle">Une question, un projet ou besoin d’informations ? Nous sommes là pour répondre à toutes vos questions</p>
    </div>
  </div>

  <div class="container content">
    <div class="contact-grid">
      <div class="contact-form-section">
        <div *ngIf="submitted" class="success-message">
          Merci pour votre message ! Nous vous répondrons dans les plus brefs délais.
        </div>

        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>

        <form *ngIf="!submitted" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Nom complet</label>
            <input type="text" formControlName="name" required>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label>Email</label>
              <input type="email" formControlName="email" required>
            </div>

            <div class="form-group">
              <label>Téléphone</label>
              <input type="tel" formControlName="phone" required>
            </div>
          </div>

          <div class="form-group">
            <label>Sujet</label>
            <input type="text" formControlName="subject" required>
          </div>

          <div class="form-group">
            <label>Message</label>
            <textarea formControlName="message" rows="6" required></textarea>
          </div>

          <button type="submit" class="btn-submit" [disabled]="loading || !contactForm.valid">
            {{ loading ? 'Envoi en cours...' : 'Envoyer le message' }}
          </button>
        </form>
      </div>

      <div class="contact-info-section">
        <h2>Informations de contact</h2>

  <div class="info-item">
    <h3>📍 Rejoingez nous</h3>

   <div class="info-item">
  <!-- Direction Générale -->
  <p>
    <strong>Direction Géneral (Agoé demakpoe):</strong><br>
    <a href="tel:+22872696666">+228 72 69 66 66</a> ; 
    <a href="tel:+22872699939">72 69 99 39</a>
  </p>
  <h3>Email :</h3>
  <a href="gailto:info@itlaacademy.de">info@itlaacademy.de</a>

  <!-- Adidogomé -->
  <p>
    <strong>Adidogomé :</strong><br>
    <a href="tel:+22870646634">+228 70 64 66 34</a>
  </p>
  <h3>Email :</h3>
  <p><a href="mailto:adidogome@itlaacademy.de">adidogome@itlaacademy.de</a></p>

  <!-- Kpogan -->
  <p>
    <strong>Kpogan :</strong><br>
    <a href="tel:+22870271314">+228 70 27 13 14</a>
  </p>
  <h3>Email :</h3>
  <p><a href="mailto:kpogan@itlaacademy.de">kpogan@itlaacademy.de</a></p>
</div>

  <div class="info-item">
    <h3>Heures d'ouverture</h3>
    <p>
      Lundi - Vendredi : 8h00 - 18h00<br>
      Samedi : 8h00 - 14h00
    </p>
  </div>
</div>
    </div>
  </div>
</div>