<footer class="footer">

  <div class="container">

    <div class="footer-content">
      

      <!-- =================================================
           À PROPOS + LOGOS
      ================================================== -->
      <div class="footer-section about-section">

        <!-- LES DEUX LOGOS -->
        <div class="footer-logos">

          <a routerLink="/" class="footer-logo-link">
            <img
              src="assets/lola.jpeg"
              alt="ITLA-Academy"
              class="footer-logo main-logo"
            >
          </a>

          <div class="logo-separator"></div>

          <div class="footer-logo-link secondary-footer-logo">
            <img
              src="assets/la.jpeg"
              alt="Partenaire ITLA-Academy"
              class="footer-logo"
            >
          </div>

        </div>

        

        <p>
          Votre expert en formation et en emploi direct en Allemagne.
        </p>

      </div>


      <!-- =================================================
           LIENS RAPIDES
      ================================================== -->
      <div class="footer-section">

        <h3>Liens rapides</h3>

        <nav class="footer-nav">

          <a routerLink="/">Accueil</a>

          <a routerLink="/about">À propos</a>

          <a routerLink="/courses">Formations</a>

          <a routerLink="/travel-agency">
            Voyage en Allemagne
          </a>

          <a routerLink="/ecl-exam">
            Examen ECL
          </a>

          <a routerLink="/centers">
            Nos centres
          </a>

        </nav>

      </div>


  <div class="contact-info">

    <h3 class="imf">Contactez-nous</h3>
   
    <p>
      <strong>Direction Géneral (Agoé démakpoè) :</strong> 
      <a href="tel:+22872696666">+228 72 69 66 66</a> ; 
      <a href="tel:+22872699939">72 69 99 39</a> 
      <!--<strong style="margin-left: 20px;">Email :</strong> <a href="mailto:info@itlaacademy.de">info@itlaacademy.de</a>-->
    </p>
    <p><strong>Nos annexes:</strong></p>
    <p>
      <strong>Adidogomé :</strong> 
      <a href="tel:+22870646634">+228 70 64 66 34</a> <br> 
     <!-- <strong>Email :</strong> <a href="mailto:adidogome@itlaacademy.de">adidogome@itlaacademy.de</a>-->
    </p>

    <p>
      <strong>Kpogan :</strong>
      <a href="tel:+22870271314">+228 70 27 13 14</a><br> 
      <!--<strong>Email :</strong> <a href="mailto:kpogan@itlaacademy.de">kpogan@itlaacademy.de</a>-->
    </p>

     <p class="mt-1">
    <strong>Email :</strong> <a href="mailto:info@itlaacademy.de">info@itlaacademy.de</a>
    </p>
  </div>
</div>



    <!-- =================================================
         BOTTOM
    ================================================== -->
    <div class="footer-bottom">

      <p>
        &copy; {{ currentYear }} ITLA-Academy.
        Tous droits réservés.
      </p>

    </div>

  </div>

</footer>